
header{
    padding:30px;
    margin-bottom:20px;
    background-color: rgb(8, 92, 62);
    text-align: left;
    color:whitesmoke;
    display:inline-block;
    width:950px;
}

.header-icon{
    display:inline-block;
    font-size:30px;
    position: absolute;
    cursor: pointer;
}
#icon-twitter:hover,#icon-youtube:hover{
    color:red;
}

footer{
    padding:30px;
    background-color:  rgb(8, 92, 62);
    color:whitesmoke;
}

h1{
    font-size : 40px;
}

h2{
    font-size : 30px;
}

.opening-movie{
    text-align: center;
}

.news{
    text-align : center;
}

.news-heading{
    margin:20px;
}

#post1,#post2,#post3,#post4{
    color:black;
    border:1px solid #aaa;
    margin:10px;
    height:160px;
    width:1000px;
    background-color:#aaa;
    display:inline-block;
    position:relative;
}

.post-heading{
    display:block;
    position:absolute;
    top:10px;
    left:200px
}

.post-contents{
    display:block;
    position:absolute;
    top:30px;
    left:200px
}

.post-pic{
    height:140px;
    width :140px;
    display:block;
    position: absolute;
    top:10px;
    left:10px;
}

.fixed-menu{
    position: relative;
}

#menu-icon-twitter,#menu-icon-youtube,#menu-icon-game,#menu-icon-EC,#menu-icon-news{
    padding:5px;
    font-size:70px;
    position:fixed;
    background-color:rgb(8, 92, 62);
    color:whitesmoke;
    border-radius:50%;
    left:50px;

    transition-property: all;
    transition-duration: 300ms;
    transition-delay: 0ms;
    transition-timing-function: ease-in;
}
#menu-icon-twitter{
    bottom:100px;
}

#menu-icon-youtube{
    bottom:200px;
}

#menu-icon-game{
    bottom:300px;
}

#menu-icon-EC{
    bottom:400px;
}

#menu-icon-news{
    bottom:500px;
}

#menu-icon-twitter:hover,#menu-icon-youtube:hover,#menu-icon-game:hover,#menu-icon-EC:hover,#menu-icon-news:hover{
    background-color:rgb(1, 12, 8);
    cursor: pointer;
}